<?xml version="1.0"?>
<model>
  <name>Shinkansen</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Developer</name>
    <email>dev@example.com</email>
  </author>

  <description>
    A simple high-speed train model for communication simulation.
  </description>
</model>
